.car5_list{
    width: 95%;

    margin: 0 auto;

    background-color: #c9e3ff;
    border: 1px solid white;
}

.car5_title{
    padding: 5px 0;

    font-size: 24px;
    font-weight: bold;

    border-bottom: 1px solid white;
}

.car5_item{
    padding: 5px 0;
    border-top: 1px solid white;
}

.hide_item{
    padding: 0;
    font-size: 0;

    width: 0;
    height: 0;
}

.hide_item > a{
    color: transparent;
}